<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <!--<img src="img/1.png" class="rounded float-left">-->
    <span class="nav-item">
      <a class="nav-link active" href="#" title="Home">Dashboard</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="My Quotes"  routerLink="/myQuotes">My Quotes</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="New Quote"   routerLink="/NewQuote">New Quote</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <p style="font-size: 11px; padding-top: 8px; float: right; margin-right: 8px;">
        Logged in as <b><i>John Black</i></b> <button type="button" class="btn btn-primary btn-sm" routerLink="">Sign out</button>
      </p>
      <p>
        <i class="fas fa-search"  aria-hidden="true"></i>
        <input class="form-control mr-sm-2" type="search" title="Search"
               placeholder="                                             Search by reference number or model number" aria-label="Search">

      </p>
    </form>
    <!--<div>-->
    <!--<i class="fas fa-search" aria-hidden="true"></i>-->
    <!--<input type="text"  class="form-control mr-sm-2" title="Search" placeholder="Search by reference number or model number" aria-label="Search">-->
    <!--</div>-->
  </div>

  <!--<hr class="my-4">-->
</header>
<div class="dashboard">
  <h3>Dashboard</h3>

  <div class="buttons">
    <p style="cursor: pointer"><span><a class="far fa-save" routerLink="/myQuotes"></a>&#160;&#160;&#160;<a class="quote"  routerLink="/myQuotes">My Quotes</a></span></p>
    <p style="cursor: pointer"><a class="fas fa-plus "  routerLink="/NewQuote"></a>&#160;&#160;&#160;<a class="quote"  routerLink="/NewQuote">New Quote</a></p>
  </div>
</div>

