::-webkit-scrollbar {

    width: 0;

}
.btn-primary{
    background-color: #3194c5;
    font-size: 14px;
    border-radius: 3px;
}
.img{
    /*background: url("../img/1.png");*/
    background: url("../../img/3.png");
    width: 160px;
    height: 39px;
}
header{
      margin-left: 10%;
    width: 90%;
}
html{
    overflow: hidden;
    height: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.tools{
    font-size: 14px;
    font-weight: 800;
}
.log{
    width: 80%;
    margin-top: 26%;
}
.form-control,.input-group-prepend, .input-group-text{
    border-color:#a7d1e6;
}
.form-control, input{
    /*padding: 10px;*/
    height: 46px;
    border-left: 0px;
}
.input-group-text{
    background: white;
    border-right: 0px solid #a7d1e6;
    line-height: 30px;
    /*border-right-width: 5px;*/
}
.fa-lock-open, .fa-envelope{
    color:#3194c5;
    font-size: 12px;
    padding: 10px;
    padding-right: 20px;
    border-right: 1px solid #a7d1e6;
}
.loginInput{
    margin-left: 10%;
    /*display: table;*/
    width: 90%;
    bottom: 0;
}
.img2{
    margin-top: 15.7%;
    margin-bottom: 15.6%;
    margin-left: 30%;
    width: 344px;
    /*padding-bottom: 53%;*/
    height: 444px;
    background: url("../../img/img.jpg") no-repeat;
}
#img{
    height: 100%;
    bottom: 0;
    background: linear-gradient(to bottom right, #277aa2, #277aa2, #277aa2,#3191c0);
    /*padding-bottom: 5%;*/
    width: 70%;
}
#inp{
    margin-top: 2%;
    width: 45%;
    height: 100%;
/*float: right;*/
}

@media screen  and (min-height: 900px) {
    .img2{
        margin-top: 29%;
        margin-bottom: 2.4%;
        margin-left: 30%;
        width: 344px;
        /*padding-bottom: 53%;*/
        height: 726px;
        background: url("../../img/img.jpg") no-repeat;
    }
}