<!--<header>-->
    <div class="loginInput" style="display: flex">
        <div id="inp">
            <p class="img"></p>
            <p class="tools">Quoting Tool</p>
            <div class="log">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="far fa-envelope"></i>
                </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">
                   <i class="fas fa-lock-open"></i>
                </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon2">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block"  routerLink="/pages">Log in</button>

            </div>
        </div>
        <div id="img">
            <p class="img2">
                <!--<img src="../../img/2.png" alt="img">-->
            </p>
        </div>


    </div>



<!--</header>-->

<!--<div class="login">-->
    <!--<h3>My Account</h3>-->
    <!--<h5>LOGIN</h5>-->
    <!--<hr class="my-4">-->
    <!--<form>-->

        <!--<div class="form-group">-->
            <!--<label for="exampleInputEmail1"><b>Username or email address</b>&nbsp;<span class="sup">*</span></label>-->
            <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword1"><b>Password</b>&nbsp;<span class="sup">*</span></label>-->
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
        <!--</div>-->
        <!--<div class="form-group form-check">-->
            <!--&lt;!&ndash;<a href="../pages/pages.component.html"> <button type="submit" class="btn btn-primary">Log in</button></a>&ndash;&gt;-->
             <!--<button type="submit" class="btn btn-primary" (click)="login()"  routerLink="/pages">Log in</button>-->
            <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
            <!--<label class="form-check-label" for="exampleCheck1"><b>Remember me</b></label>-->
        <!--</div>-->
        <!--<button type="button" class="btn btn-link">Lost your password?</button>-->
    <!--</form>-->
<!--</div>-->


