<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <span class="quo">
  <p class="kiosk">
     Kiosk Quotation for John Smith(Burger King)
     </p>
    </span>
  </div>
</header>
<body>
<div class="text">
  <p class="smith">Dear Mr.Smith,</p>
  <p class="text1">Thankyou for contacting Image Holders taking an interest in our services. Below is the
    generated quote for your personalised kiosk as discussed. If you have any further enquiries please
    contact us on <b>+44 (0)1202 892863 (UK)</b> or <b>1-888-858-9778 (US)</b></p>
</div>

<div class="summarInfo">
  <div class="row">
    <div class="col-sm-6">
  <p>
    <span style="font-weight: 700">
      Quotation completed by:
    </span>
    <span>
      Joe Black
    </span>
  </p>

  <p>
    <span style="font-weight: 700">
      Date:
    </span>
    <span>
      01/01/18
    </span>
  </p>

  <p>
    <span style="font-weight: 700">
     Time:
    </span>
    <span>
      15:00
    </span>
  </p>
  <p></p>
  <p>
    <span style="font-weight: 700">
      Client Name:
    </span>
    <span>
      John Smith
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      Client Company:
    </span>
    <span>
      Burger King
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      Contact Number:
    </span>
    <span>
      01202 555666
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      Email:
    </span>
    <span>
      johnsmith@burgerking.com
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      Reference Number:
    </span>
    <span>
      #02154865
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      Date of quotation:
    </span>
    <span>
      01/01/2018
    </span>
  </p>
  <p></p>
  <p>
    <span style="font-weight: 700">
      Unit Quantity:
    </span>
    <span>
      2
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      Unit total:
    </span>
    <span>
      $2345.00
    </span>
  </p>
  <p>
    <span style="font-weight: 700">
      VAT:
    </span>
    <span>
      $200
    </span>
  </p>

  <p></p>

  <p>
    <span style="font-weight: 700; font-size: 20px; ">
      Sub Total:
    </span>
    <span>
      $4890.00
    </span>
  </p>
  </div>
    <div class="col-sm-6">
      <table>

        <tr class="title">
          <td style="padding-left: 25px">Component</td>
          <td style="padding-left: 25px">Selection</td>
          <td style="padding-left: 25px; border-right: 1px solid lightgrey">Price</td>
        </tr>
        <tr>
          <td class="body" style="padding-left: 25px;">Tablet</td>

          <td  class="body">
            <div >

              <div class="card-body bd">
                <div class=" head">
                  Acer Iconia A200 10.1' 8GB
                </div>
                <blockquote class="blockquote mb-0">
                  <footer class="blockquote-footer"> <cite title="Customisation Selection 1">Customisation Selection 1</cite></footer>
                  <footer class="blockquote-footer"> <cite title="Customisation Selection 2">Customisation Selection 2</cite></footer>
                </blockquote>
              </div>
            </div>
            <!--<button type="button" class="btn btn-primary btn-lg btn-block">Choose Tablet</button>-->
          </td>
          <td  class="body pr" style="padding-left: 25px"  >$567</td>

        </tr>


      </table>
    </div>
</div>
</div>
</body>
<footer class="footer">
  <div>
    <div class="row row1">
      <div class=" sm">
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <h5 class="card-title titl"></h5>
            <p class="card-text text11">+44 (0)1202 892863</p>

          <!--</div>-->
        <!--</div>-->
      </div>
      <div class=" sm">
        <!--<div class="card">-->
          <!--<div class="card-body">-->
            <h5 class="card-title titl2"></h5>
            <p class="card-text text11">1-888-858-9778</p>

          <!--</div>-->
        <!--</div>-->
      </div>
    </div>




    <div class="row row2">
      <div class=" sm1">
        <!--<div class="card">-->
        <!--<div class="card-body">-->
        <h5 class="card-title title1">ABOUT IMAGEHOLDERS</h5>
        <div class="card-text text2">
             Here at imageHOLDERS, we design and manufacture tablet enclose, iPad kiosk and innovative m,POS solutions which allow your
          business to engage customers and drive sales.
        </div>
        <div class="card-text text2">
          Our patent pending design process means we are the only company in the world
          who can securely display  any Windows, Android or IOS tablet, giving your business the freedom to choose a device that best suits your needs.
        </div>

        <!--</div>-->
        <!--</div>-->
      </div>
      <div class=" sm1">
        <!--<div class="card">-->
        <!--<div class="card-body">-->
        <h5 class="card-title title1">ANTI COPYING IN DESIGN</h5>
        <div class="card-text text2">
          "All copyright, design rights and intellectual property rights existing in our designs and products and in the images,
          text and design of our website / marketing material are and will remain the property of imageHOLDERS. We will treast any infringement of these rights seriously."
        </div>
        <div class="card-text text2 txt">
          <img src="../../../img/member.png" width="261" height="138">
          <!--<span class="img3"> </span>-->


        </div>

        <!--</div>-->
        <!--</div>-->
      </div>
    </div>




    <!--<p>-->
      <!--<span>-->

      <!--</span>-->
    <!--</p>-->
  </div>
</footer>
