/*header*/
header{
    display: inline;
    padding-left: 50px;
}
.form-inline,.mr-sm-2{
    float: right;
}
.searchpadd{
    padding-right: 7.5%;
}
.nav{
    /*padding-left: 50px;*/
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid lightgray;
}
.my-4{
    width: 80%;

}
.btn-sm{
    background-color: #3194c5;
    margin-left: 15px;
    font-size: 11px;
}
.my-lg-0{
    margin-left: auto;
    margin-right: 0%;
}
.img{
    background: url("../../../img/1.png");
    width: 258px;
    height: 60px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.form-inline{
    display: block;
    /*margin-left: 22.7%;*/
    float: right;

}
.nav-item{
    margin-top: 40px;
}
input{
    /*width: 500px;*/
}
.mr-sm-2{
    /*margin-left: 90%;*/
    /*float: right;*/
    height: 25px;
    width: 400px;
    /*margin-top: 42px;*/
    border-radius: 8px;
    font-style: italic;
    /*color: #e0e0e0;*/
    font-size: 11px;
}
.width2{
    width: 300px;
}
input {
    height: 20px;
}
.fa-search::before{
    color: steelblue;

}
.fa-search{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    margin-left: -56px;
    position: relative;
    z-index: 1;
    margin-top: 49px;
    margin-bottom: 5px;
    color: #003380;
    float: left;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}
.search3{
    margin-top: 0px;
    margin-left: -35px;
}
i.fas .fa-search + input {
    float: right;
    color: #003380;
    /*padding-left: 46px;*/
}




/*new quote page*/
.dashboard{
    margin-left: 10%;
    margin-right: 10%;
}
h3{
    font-weight: 700;
    color: #266d99;

}
.fa-save{
    /*margin-left: 14%;*/
    background-color:#3693bc ;
    color: white;
    padding: 8px;
    font-size: 35px;
    border-radius: 30px;
    box-shadow: 2px 2px #266d99;

}
p{
    margin-left: 14%;
}
.card{
    margin-left: 14%;
    border-radius: 0;
}
.fa-plus{
    margin-top: 0.7%;

    background-color:#3693bc ;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:9px;
    padding-right: 8px;
    font-size: 35px;
    border-radius: 30px;
    box-shadow: 2px 2px #266d99;

}
input:focus{
    padding-left: 30px;
}
.newQuote{
    margin-top: 4%;
    font-size: 18px;
}
.card-title{
    color: #266d99;
    margin-left: 10%;
    font-weight: 700;
}
table{
    margin-top: 5%;
    width: 100%;
    /*margin-left: 18%;*/
}
.buttons{
    margin-top: 2.3%;
}
i:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
.quote{
    color: black;
    font-weight: 400;
    font-size: 18px;
}
.input{
    border-radius: 8px;
    border: 1px solid grey;
    margin-top: 3%;
    height: 25px;
    margin-left: 25%;
    /*float: right;*/
}
.plus{
    margin-top: 1.5%;
    border: none;
}
.plus:focus, .plus:active, .plus:checked{
    border: none;
}
p:focus, p:active{
    border: none;
}
.fa-plus{
    margin-top: 1%;
    margin-right: 1%;
}
thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;

span {
    visibility: hidden;
}

&.active {
     color: #000;

span {
    visibility: visible;
}
}
}


.mdl-data-table__cell--non-numeric{
    border-top: 1px solid lightgrey;
    border-bottom:  1px solid lightgrey;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 0px;
    text-align: center;
}
.mdl-data-table__cell--non-numeric1{
    border-top: 1px solid lightgrey;
    border-bottom:  1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding: 15px 25px 10px;
    text-align: center;
}
.mdl-data-table__cell--non-numeric2{
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom:  1px solid lightgrey;
    /*border-top-left-radius: 4px;*/
    padding: 15px 5px 10px 25px;
    text-align: center;
}
th{
    color: #3693bc;

}
td{
    border:1px solid lightgrey;
    text-align: center;
    padding: 8px;
    color: #717171;
}
.namecompany:hover{
    cursor: pointer;
}
.edit{
    line-height: 0px;
    padding-top: 10px;
    /*margin-top: 50px;*/
   text-align: center;
    color: #3693bc;
    padding-left: 10px;
}
.edit:hover{
    cursor: pointer;
}
.checked{
    padding: 15px;
}
a:hover{
    text-decoration: none;
}








/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 1px solid #3293c3;

}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;			 /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background: url('../../../img/2.jpg');     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}


