
/*header*/
*{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
}
header{
    display: inline;
    padding-left: 50px;
}
.form-inline,.mr-sm-2{
    float: right;
}
.nav{
    /*padding-left: 50px;*/
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid lightgray;
}
.my-4{
    width: 80%;

}
.btn-sm{
    background-color: #3194c5;
    margin-left: 15px;
    font-size: 11px;
}
.my-lg-0{
    margin-left: 26%;
}
.img{
    background: url("../../../img/1.png");
    width: 160px;
    height: 39px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.form-inline{
    display: block;
    /*margin-left: 22.7%;*/
    float: right;

}
.nav-item{
    margin-top: 40px;
}
input{
    /*width: 500px;*/
}
.mr-sm-2{
    /*margin-left: 90%;*/
    /*float: right;*/
    height: 25px;
    width: 400px;
    /*margin-top: 42px;*/
    border-radius: 8px;
    font-style: italic;
    /*color: #e0e0e0;*/
    font-size: 11px;
}
input {
    height: 20px;
}
.fa-search::before{
    color: steelblue;

}
.fa-search{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    /*margin-left: -56px;*/
    position: relative;
    z-index: 1;
    margin-top: 49px;
    margin-bottom: 5px;
    color: #003380;
    float: left;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

i.fas .fa-search + input {
    float: right;
    color: #003380;
    padding-left: 46px;
}

/*Kiosk page*/
body{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.dhbrd{

    border-bottom: 1px solid #3693bc;
    border-left: 1px solid #3693bc;
    border-top:  1px solid #3693bc;
}
h2{
    font-weight: 800;
    color: #266d99;
    padding-top: 5%;
    /*margin-top: 10%;*/
}
.kiosk{
    margin-top: 5%;
}
.card-title{
    color: #3293c3;
    font-size: 18px;
    font-weight: 700;
}
.data{
    float: right;
    display: block;
}
.name{
    text-align: right;
    line-height:6px;
}

.name{
    color: #3693bc;
}

.dashb{

    /*clip-path: polygon(50% 0%, 0 100%, 100% 100%);*/
    border: 1px solid white;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    -webkit-clip-path: polygon(83% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    clip-path: polygon(83% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    -moz-clip-path: polygon(83% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    margin-right: 12px;
}
.dashb:hover{
    cursor: pointer;
}
.dashb1{
    /*border: 1px solid #000000;*/
    position: absolute;
    color: white;
    font-size: 12px;
    top: 6px; /* equal to border thickness */
    left: 45px; /* equal to border thickness */
    width: 176px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(83% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
    clip-path: polygon(83% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
    -moz-clip-path: polygon(83% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
}
.kiosk1{
    border: 1px solid white;
    padding: 0px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    margin-right: 12px;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
}
.kiosk1:hover, .comp1:hover, .tabl1:hover{
    cursor: pointer;
}
.kiosk{
    border-color: black;
    position: absolute;
    color: white;
    font-size: 12px;
    top: -3px; /* equal to border thickness */
    left: 55px; /* equal to border thickness */
    width: 176px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);

}
.comp1{
    border: 1px solid white;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    margin-right: 12px;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
}
.modal-dialog{
    border: 1px solid #3693bc;
    padding: 10px;
    position: relative;
    display: inline-block;
    /*width: 290px;*/
    /*height: 450px;*/
    left: 40%;
    top: 25%;
    /*background: white;*/
    box-sizing: border-box;
    /*margin-right: 12px;*/
    /*-webkit-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);*/
    /*clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);*/

    /*-moz-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0) ;*/
    /*-webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);*/
    /*clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);*/
    /*-moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);*/
}
.modal-content{
    padding-right: 0;
    border-color: white;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 0px; /* equal to border thickness */
    left: 20px; /* equal to border thickness */
    width: 280px; /* container height - (border thickness * 2) */
    height: 300px; /* container height - (border thickness * 2) */
    /*-webkit-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);*/
    /*clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);*/

    /*-moz-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0) ;*/

}
.modal-title{
    text-align: center;
    color: #3693bc;
    padding-top: 20px;
    font-weight: 700;
}
.desc{
    color: #3293c3;
    font-size: 11px;
    padding-top: 10px;
}
.comp{
    border-color: black;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 6px; /* equal to border thickness */
    left: 40px; /* equal to border thickness */
    width: 106px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);
    clip-path: polygon(50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);

    -moz-clip-path: polygon(50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0) ;

}
.tabl1{
    border: 1px solid white;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    margin-right: 12px;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
}
.tabl{
    border-color: black;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 6px; /* equal to border thickness */
    left: 55px; /* equal to border thickness */
    width: 176px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);

}
.answer{
    margin-left: 5%;
    font-weight: 700;

}
.search1{
    padding-top: 50px;

}
.search1 select{
    width: 250px;
    height: 40px;

}
.search1 option{
    background-color: #3693bc;
}
.radio {

    height: 10px;
    padding-top: 30px;
}
.dropdown{
    margin-top: 40px;

}
.dropdown-menu{
    width: 250px;
    margin-top: -42px;
    background: #3693bc;

}
.item1{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.fa-angle-up{
    float: right;
    padding-top: 5px;
}

.dropdown-toggle::after{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.fa-angle-up:hover{
    cursor: pointer;
}
.dropdown-item{
    color: white;
    background: #3293c3;
}
.fa-angle-down{
    padding-top: 5px;
    float: right;
}
.btn-dark{
    color: black;
    background: white;
    width: 250px;
}
.search{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border: solid black 1px;
}
.filter{
    margin-top: 70px;
    width: 250px;
    border: solid black 1px;
}
.yourfilters{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 4%;
    color: #3693bc;
    font-size: 20px;
    font-weight: 800;
    border-bottom: solid #3693bc 1px ;

}
.manufacturer{
    margin-left: 5%;
    margin-right: 10%;
    font-weight: 700;
    font-size: 18px;

}
.manufactur{
    line-height: 5px;
    width: 100px;
}
.chebox{
    float: right;
    width: 30px;
    margin-left: 20%;
    border-style:inset;/*outset, или groove, или ridge*/
    border-width:5px;
    border-color: #f00;
    border-radius: 3px;
    background-color: white;
    /*margin-top: 5px;*/
    /*margin-left: 80px;*/

}
.manufact{
    display: flex;
}
.range{
    width: 80%;
    height: 2px;
    background: black;
    border-color: black;
    color: black;
}
#customRange3{
    height: 2px;
    background: black;
}
.btn-dark{
    border-radius: 0;
    color: #000000;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
}

.inp2 {
    width: 250px;
    height: 40px;

    /*margin-bottom: 50px;*/
}
.fa-search::before{
    color: steelblue;

}
.search2{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: right;
    /*margin-right: -26px;*/
    /*margin-left: 56px;*/
    position: relative;
    z-index: 1;
    margin-top: 4px;

    margin-bottom: 5px;
    color: #003380;
    float: left;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

.search2 + .inp2 {
    float: left;
    color: #003380;
    border-color: black;
    border-radius: 0;
    font-size: 18px;
    font-weight: 700;
    padding-left: 46px;
}

.slidecontainer {
    margin-left: 15%;
    width: 65%;
}
.slidecontainer1{
    margin-left: 15%;
    width: 65%;
    margin-bottom: 10%;
}
.fa-circle{
    margin-right: 6px;
}
.circle1{
    background:#cb7e7e ;
    border-radius: 40px;
}

.circle2{
    /*border: 1px solid black;*/
    background:#404040;
    border-radius: 40px;
}
.circle3{

    background:#c9b07e;
    border-radius: 40px;
}
.circle4{
    background:#ff0000;
    border-radius: 40px;
}
.circle5{
    background:#003cff;
    border-radius: 40px;
}
.circle6{

    background:black;
    border-radius: 40px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    border-color: black;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:1px solid #3293c3 ;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-color: black;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
#demo{
    color: black;
}
.block{
    display: inline-block;
}
table{
    float: right;
    width: 75%;
}

.info{
    color: white;
    padding: 1px 11px;
    margin-top: -5px;
    margin-left: 5px;
    border-radius: 30px;
    font-style: italic;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background-color:  #3693bc;
}
.priceNew{
    color: #3293c3;
    font-style: italic;
}
.info:hover{
    cursor: pointer;
}
.tablet{
    font-size: 20px;
    font-weight: 700;
    color: #3293c3;
    padding-top: 55px;
    padding-bottom: 20px;
}
.head{
    /*border: 1px so

Рома, [27.08.18 15:51]
lid black;*/
}
.add{
    background-color: #3194c5;
    height: 20px;
    width: 90px;
    font-size: 12px;
    font-weight: 700;
    padding-top: 0;
    margin-top: 0;
}
.bord{
    padding-top: 5px;
    border-bottom: 1px solid #3293c3;
}
.btnPadding{
    border-radius: 0;

    /*width: 50%;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}
.modal-content{
    padding: 0;
    margin: 0;
}
.about{
    padding-top: 35%;
    color: white;
    margin-left: -20px;
    font-size: 12px;
    background-color: #3693c1;
    padding-left: 15%;
    padding-bottom: 15%;
}
.info1{
    float: right;
    line-height: 9px;
    padding-right: 20%;
    text-align: left;
}
.line1{
    line-height: 9px;
    border-bottom: 5px;
}
.btnPadding1{
    border-radius: 0;
    float: right;
    /*padding-top: -90px;*/
    margin-top: -35px;
    margin-left: 35px;
    padding-left: 30px;
    padding-bottom: 14px;
    padding-right: 20px;
    margin-right: 0;
    width: 156px;
    background-color: #3693c1;
    /*background-color: white;*/
    border: none;
    /*color: #3293c3;*/
    /*width: 50%;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}
.btn2{
    border-top-right-radius: 10px;
}
.btn-light{
    padding-top: 0;
    margin-top: 0;
    background-color: white;
    border: none;
    color: #3293c3;
}
h5{
    color: black;
}
.accer{
    padding-top: 20px;
}
.desc{
    color: #3293c3;
    font-size: 11px;
    padding-top: 10px;
}