<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <!--<img src="img/1.png" class="rounded float-left">-->
    <span class="nav-item">
      <a class="nav-link active" href="#" title="Home">Home</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="My Quotes"  routerLink="/myQuotes">My Quotes</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="New Quote"   routerLink="/NewQuote">New Quote</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <p style="font-size: 11px; padding-top: 8px; float: right">
        Logged in as <b><i>John Black</i></b> <button type="button" class="btn btn-primary btn-sm">Sign out</button>
      </p>
      <p>
        <i class="fas fa-search"  aria-hidden="true"></i>
        <input class="form-control mr-sm-2" type="search" title="Search"
               placeholder="                                             Search by reference number or model number" aria-label="Search">

      </p>
    </form>
    <!--<div>-->
    <!--<i class="fas fa-search" aria-hidden="true"></i>-->
    <!--<input type="text"  class="form-control mr-sm-2" title="Search" placeholder="Search by reference number or model number" aria-label="Search">-->
    <!--</div>-->
  </div>

  <!--<hr class="my-4">-->
</header>
<body>
<!--<span class="dhbrd">-->
<!--Dashboard-->
<!--</span>-->
<!--<span class="menuUp"></span>-->
<div class="data">
  <p class="name"><b>John Smith (Burger King)</b></p>
  <p class="name">Ref: <b>#02154865</b></p>
  <p class="name">Unit total: <b>$4690</b></p>
</div>
<div style="padding-top: 20px">
  <div class="dashb" routerLink="/pages">
    <div class="dashb1">Dashboard</div>

  </div>
  <div class="kiosk1" routerLink="/selectKiosk">
    <div class="kiosk">Select Kiosk</div>
  </div>
  <div class="comp1" routerLink="/fullKiosk">
    <div class="comp">Select Components</div>
  </div>
  <div class="tabl1">
    <div class="tabl">Select Tablet</div>
  </div>

  <div>
    <h2>Select Tablet</h2>
  </div>
</div>

<div class="supplying">
  <div>Supplying own tablet?
    <span class="answer">Yes <input class="radio" type="radio">&#160;&#160;  No <input class="radio" type="radio"></span>
  </div>
</div>
<div class="block">
    <div  class="search1">
        <div class="btn-group">
            <button type="button" class="btn btn-dark " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by: <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item item1" style="color: white">Sort by: <i class="fas fa-angle-up"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Price: High to Low</a>
                <a class="dropdown-item" href="#">Price: Low to High</a>
                <a class="dropdown-item" href="#">Name</a>
                <a class="dropdown-item" href="#">Dimensions</a>
                <a class="dropdown-item" href="#">Storage</a>

            </div>
        </div>
    </div>
    <!--<form>-->
    <!--<input class="search" type="search" title="Search"-->
    <!--placeholder="Search" aria-label="Search">-->

    <!--</form>-->
    <div>
        <form style="width: 250px">
            <p>
                <i class="fas fa-search search2"  aria-hidden="true"></i>
                <input class="form-control  inp2" type="search" title="Search..." placeholder="Search..." aria-label="Search">

            </p>
        </form>
    </div>


    <div class="filter">
        <p class="yourfilters">  &#160;Your Filters: </p>
        <p class="manufacturer">  &#160;Manufacturer</p>
        <ul>

            <div class="manufact"> <p class="manufactur">Acer</p>  <input class="chebox" type="checkbox"></div>
            <div class="manufact"> <p class="manufactur">Apple </p><input class="chebox" type="checkbox" ></div>
            <div class="manufact"><p class="manufactur">Assus </p><input class="chebox" type="checkbox" ></div>
            <div class="manufact"> <p class="manufactur">Aures</p><input class="chebox" type="checkbox"></div>
            <div class="manufact"> <p class="manufactur">Dell </p><input class="chebox" type="checkbox"></div>
            <div class="manufact"><p class="manufactur">Emdoor</p> <input class="chebox" type="checkbox"></div>
            <div class="manufact"> <p class="manufactur">HP</p><input class="chebox" type="checkbox" ></div>
            <div class="manufact"> <p class="manufactur">iDisplay</p> <input class="chebox" type="checkbox"></div>
            <div class="manufact"><p class="manufactur">Linux</p> <input class="chebox" type="checkbox" ></div>
            <div class="manufact"><p class="manufactur">MS Surface</p> <input class="chebox" type="checkbox" ></div>
            <div class="manufact"> <p class="manufactur">Q-Tab </p><input class="chebox" type="checkbox" ></div>
            <div class="manufact"> <p class="manufactur">Samsung</p> <input class="chebox" type="checkbox"></div>

        </ul>
        <p class="manufacturer">  &#160;Operating system</p>
        <ul>
            <div class="manufact"> <p class="manufactur">Windows</p>  <input class="chebox" type="checkbox"></div>
            <div class="manufact"> <p class="manufactur">IOS </p><input class="chebox" type="checkbox" ></div>
            <div class="manufact"><p class="manufactur">Android </p><input class="chebox" type="checkbox" ></div>
        </ul>

        <p class="manufacturer">  &#160;Dimensions</p>

        <div class="manufact">
            <div class="slidecontainer">
                <input title="Range" type="range" min="8" max="20" value="8" class="slider" id="myRange">
                <p> <span id="demo">''</span></p>
            </div>
            <!--<input type="range" class="custom-range range" min="0" max="9" step="0.5" id="customRange3">-->
        </div>

        <p class="manufacturer">  &#160;Storage size</p>

        <div class="manufact">
            <div class="slidecontainer">
                <input title="Range" type="range" min="8" max="128" value="8" class="slider" id="myRange1">
                <p> <span id="demo1">''</span></p>
            </div>
            <!--<input type="range" class="custom-range range" min="0" max="9" step="0.5" id="customRange3">-->
        </div>
        <p class="manufacturer">  &#160;Colour</p>

        <div class="manufact">
            <div class="slidecontainer1">
                <i class="far fa-circle circle1"></i>
                <i class="far fa-circle circle2"></i>
                <i class="far fa-circle circle3"></i>
                <i class="far fa-circle circle4"></i>
                <i class="far fa-circle circle5"></i>
                <i class="far fa-circle circle6"></i>
            </div>
            <!--<input type="range" class="custom-range range" min="0" max="9" step="0.5" id="customRange3">-->
        </div>

    </div>

</div>
<table>
    <tr class="head">
        <td class="tablet">Tablet </td>
        <td class="tablet">Info</td>
        <td class="tablet">Price</td>
    </tr>
    <tr>
        <td class="bord">Accer Iconia A200 10'' 8GB</td>
        <td class="bord">
            <i class="info"  data-toggle="modal" data-target="#exampleModalLong">i</i>

            <div class="modal fade" id="exampleModalLong" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!--<div class="modal-header">-->
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                <button type="button" class="btn btn-light btnPadding" (click)="information()">
                                    Information
                                </button>
                                <button type="button" class="btn btn-primary btnPadding1" (click)="specifications()">
                                    Specifications
                                </button>
                            </h5>
                        <div id="card1" *ngIf="specification==true">
                            <h5 class="accer">Accer Iconia A200 10'' 8GB</h5>
                            <img width="240px" height="130px">
                            <p class="desc">Accer Iconia A200 10'' 8GB Tablet</p>
                        </div>
                        <div *ngIf="specification==false">
                            <div class="about">
                                    <p class="line1"><b >Brand:</b>
                                        <span class="info1">Acer</span>
                                    </p>
                                <p class="line1"><b>Weight:</b>
                                    <span class="info1">531 g</span>
                                </p>
                                <p class="line1"><b>
                                    Dimensions:
                                </b>
                                    <span class="info1">16.7 x 0.9 x 25.9 cm</span>
                                </p>
                                <p class="line1"><b>Screen Size:</b>
                                    <span class="info1">25.654 cm</span>
                                </p>
                                <p class="line1"><b>Screen Resulition:</b>
                                    <span class="info1">1920 x 1200</span>
                                </p>
                                <p class="line1"><b>RAM Size</b>
                                    <span class="info1">2 Gb</span>
                                </p>
                                <p class="line1"><b>Hard Drive Size</b>
                                    <span class="info1">8 Gb</span>
                                </p>
                                <p class="line1"><b>Connectivity Type:</b>
                                    <span class="info1">WiFi</span>
                                </p>
                                <p class="line1"><b>Number of USB Ports:</b>
                                    <span class="info1">1</span>
                                </p>
                                <p class="line1"><b>Number of HDMI Ports:</b>
                                    <span class="info1">1</span>
                                </p>
                                <p class="line1"><b>Buttery Life:</b>
                                    <span class="info1">9 Hours</span>
                                </p>


                            </div>
                        </div>

                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

        </td>
        <td class="priceNew bord">$133.00</td>
        <button type="button" class="btn btn-primary add" routerLink="/selectCustomisations">Add</button>
    </tr>
</table>
</body>