/*header*/
*{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
}
header{
    display: inline;
    padding-left: 50px;
}
.form-inline,.mr-sm-2{
    float: right;

}
.nav{
    /*padding-left: 50px;*/
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid lightgray;
}
.my-4{
    width: 80%;

}
.btn-sm{
    background-color: #3194c5;
    margin-left: 15px;
    font-size: 11px;
}
.my-lg-0{
    margin-left: auto;
    margin-right: 0;
}
input:focus{
    padding-left: 25px;
}
.img{
    background: url("../../../img/1.png");
    width: 258px;
    height: 60px;
    margin-top: 10px;
}
.form-inline{
    display: block;
    /*margin-left: 22.7%;*/
    float: right;
    margin-right: -10px;

}
.nav-item{
    margin-top: 40px;
}
input{
    /*width: 500px;*/
}
.mr-sm-2{
    /*margin-left: 90%;*/
    /*float: right;*/
    height: 25px;
    width: 400px;
    /*margin-top: 42px;*/
    border-radius: 8px;
    font-style: italic;
    /*color: #e0e0e0;*/
    font-size: 11px;
}
input {
    height: 20px;
}
.fa-search::before{
    color: steelblue;

}
.fa-search{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    /*margin-left: -56px;*/
    position: relative;
    z-index: 1;
    margin-top: 49px;
    margin-bottom: 5px;
    color: #003380;
    float: left;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

i.fas .fa-search + input {
    float: right;
    color: #003380;
    padding-left: 46px;
}

/*Kiosk page*/
body{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.dhbrd{

    border-bottom: 1px solid #3693bc;
    border-left: 1px solid #3693bc;
    border-top:  1px solid #3693bc;
}
h2{
    font-weight: 800;
    color: #266d99;
    padding-top: 5%;
    /*margin-top: 10%;*/
}
.kiosk{
    margin-top: 5%;
}
.card-title{
    color: #3293c3;
    font-size: 18px;
    font-weight: 700;
}
.data{
    float: right;
    display: block;
}
.name{
    text-align: right;
    line-height:6px;
}

.name{
    color: #3693bc;
}
.supplying{
    margin-top: 40px;
    height: 35px;
    width: 27%;
    padding-bottom: 20px;
    border-bottom: solid #3693bc 1px ;
    word-spacing: 5px;
}
.dashb{

    /*clip-path: polygon(50% 0%, 0 100%, 100% 100%);*/
    border-bottom: 1px solid #3693bc;
    padding: 2.5px;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    -webkit-clip-path: polygon(83% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    clip-path: polygon(83% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    -moz-clip-path: polygon(83% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
    margin-right: 12px;
}
.dashb:hover{
    cursor: pointer;
}
.dashb1{
    /*border: 1px solid #000000;*/
    position: absolute;
    color: #3693bc;
    font-size: 12px;
    background-color: white;
    padding-top: 5px;
    padding-left: 40px;
    border: 1px solid #3693bc;
    top: 0; /* equal to border thickness */
    left: 0px; /* equal to border thickness */
    width: 176px; /* container height - (border thickness * 2) */
    height: 30px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(83% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
    clip-path: polygon(83% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
    -moz-clip-path: polygon(83% 0, 100% 50%, 83% 100%, 0 100%, 0 0);
}
.kiosk1{
    border: 1px solid white;
    padding: 0px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    margin-right: 12px;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
}
.kiosk1:hover, .comp1:hover, .tabl1:hover{
    cursor: pointer;
}
.kiosk{
    border-color: black;
    position: absolute;
    color: white;
    font-size: 12px;
    top: -3px; /* equal to border thickness */
    left: 55px; /* equal to border thickness */
    width: 176px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);

}
.comp1{
    border: 1px solid white;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    margin-right: 12px;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
}

.modal-dialog{
    border: 1px solid #3693bc;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 290px;
    height: 450px;
    left: 40%;
    top: 25%;
    bottom: 5%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: white;
    /*box-sizing: border-box;*/
    margin-right: 12px;
    -webkit-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);
    clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);

    -moz-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0) ;
    /*-webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);*/
    /*clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);*/
    /*-moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);*/
}
.modal-content{
    border-top-right-radius: 8px;
    padding-right: 0;
    border-color: white;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 0px; /* equal to border thickness */
    left: 20px; /* equal to border thickness */
    width: 280px; /* container height - (border thickness * 2) */
    height: 300px; /* container height - (border thickness * 2) */
    /*-webkit-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);*/
    /*clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);*/

    /*-moz-clip-path: polygon(50% 10%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0) ;*/

}
.comp{
    border-color: black;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 6px; /* equal to border thickness */
    left: 40px; /* equal to border thickness */
    width: 106px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);
    clip-path: polygon(50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0);

    -moz-clip-path: polygon(50% 5%, 55% 0, 100% 0, 100% 100%, 0 100%, 0 0, 45% 0) ;

}
.tabl1{
    border: 1px solid white;
    padding: 10px;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 30px;
    background: #3693bc;
    box-sizing: border-box;
    margin-right: 12px;
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 13% 50%);
}
.tabl{
    border-color: black;
    position: absolute;
    color: white;
    font-size: 12px;
    top: 6px; /* equal to border thickness */
    left: 55px; /* equal to border thickness */
    width: 176px; /* container height - (border thickness * 2) */
    height: 40px; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);
    -moz-clip-path:polygon(0 0, 83% 0, 100% 50%, 83% 100%, 0 100%, 0% 50%);

}
.answer{
    margin-left: 5%;
    font-weight: 700;

}
.search1{
    padding-top: 50px;

}
.search1 select{
    width: 250px;
    height: 40px;

}
.search1 option{
    background-color: #3693bc;
}
.radio {

    height: 10px;
    padding-top: 30px;
}
.dropdown{
    margin-top: 40px;

}
.dropdown-menu{
    width: 250px;
    margin-top: -42px;
    background: #3693bc;

}
.item1{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.fa-angle-up{
    float: right;
    padding-top: 5px;
}

.dropdown-toggle::after{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.fa-angle-up:hover{
    cursor: pointer;
}
.dropdown-item{
    color: white;
    background: #3293c3;
}
.fa-angle-down{
    padding-top: 5px;
    float: right;
    color: #3293c3;
    font-size: 19px;
}
.btn-dark{
    color: black;
    background: white;
    width: 250px;
}
.search{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border: solid black 1px;
}
.filter{
    margin-top: 70px;
    width: 250px;
    border: solid black 1px;
}
.yourfilters{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 4%;
    color: #3693bc;
    font-size: 20px;
    font-weight: 800;
    border-bottom: solid #3693bc 1px ;

}
.manufacturer{
    margin-left: 5%;
    margin-right: 10%;
    font-weight: 700;
    font-size: 18px;

}
.manufactur{
    line-height: 5px;
    width: 100px;
}
.chebox{
    float: right;
    width: 30px;
    margin-left: 20%;
    border-style:inset;/*outset, или groove, или ridge*/
    border-width:5px;
    border-color: #f00;
    border-radius: 3px;
    background-color: white;
    /*margin-top: 5px;*/
    /*margin-left: 80px;*/

}
.manufact{
    display: flex;
}
.range{
    width: 80%;
    height: 2px;
    background: black;
    border-color: black;
    color: black;
}
#customRange3{
    height: 2px;
    background: black;
}
.btn-dark{
    border-radius: 0;
    color: #000000;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
}

.inp2 {
    width: 250px;
    height: 40px;

    /*margin-bottom: 50px;*/
}
.fa-search::before{
    color: #3293c3;

}
 .search2{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: right;
    /*margin-right: -26px;*/
    padding-right: 10px;
     padding-left: 450px;
    position: absolute;
    z-index: 1;
    margin-top: -222px;
     /*padding-top: -20px;*/
    /*margin-bottom: 5px;*/
    color: #003380;
    /*float: right;*/
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

 .search2 + .inp2 {
     float: left;
    color: #003380;
     border-color: black;
     border-radius: 0;
     font-size: 18px;
     font-weight: 700;
    padding-left: 15px;
     margin-top: -2px;
}

.slidecontainer {
    margin-left: 15%;
    width: 70%;
    display: inline-block;
}
.slidecontainer1{
    margin-left: 15%;
    width: 65%;
    margin-bottom: 10%;
}
.fa-circle{
    margin-right: 6px;
}
.fa-circle:hover{
    cursor: pointer;
}
label:hover{
    cursor: pointer;
}
.circle1{
    background:#cb7e7e ;
    border-radius: 40px;
}

.circle2{
    /*border: 1px solid black;*/
    background:#404040;
    border-radius: 40px;
}
.circle3{

    background:#c9b07e;
    border-radius: 40px;
}
.circle4{
    background:#ff0000;
    border-radius: 40px;
}
.circle5{
    background:#003cff;
    border-radius: 40px;
}
.circle6{

    background:black;
    border-radius: 40px;
}
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 2px;
    border-radius: 5px;
    border-color: black;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline-block;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:1px solid #3293c3 ;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-color: black;
    border-radius: 50%;
    background: red;
    cursor: pointer;
}
#demo{
    color: black;
}
.block{
    display: inline-block;
}
table{
    float: right;
    width: 72%;
}

.info{
    color: white;
    padding: 1px 9px;
    margin-top: -5px;
    margin-left: 5px;
    border-radius: 30px;
    font-style: italic;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background-color:  #246d92;
}
.priceNew{
    color: #3293c3;
    font-style: italic;
}
.priceNew1{
    color: #000000;
    font-style: italic;
}
.info:hover{
    cursor: pointer;
}
.tablet{
    font-size: 20px;
    font-weight: 700;
    color: #3293c3;
    padding-top: 55px;
    padding-bottom: 20px;
}
.head{
    /*border: 1px solid black;*/
}
.add{
    background-color: #3194c5;
    height: 25px;
    width: 90px;
    font-size: 12px;
    font-weight: 700;
    padding-top: 3px;
    margin-top: 0;
}
.bord{
    padding-top: 5px;
    border-bottom: 1px solid #3293c3;
}
.btnPadding{
    border-radius: 0;

    /*width: 50%;*/
  /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}
.modal-content{
    padding: 0;
    margin: 0;
}
.about{
    padding-top: 35%;
    color: white;
    margin-left: -20px;
    font-size: 12px;
    background-color: #3693c1;
    padding-left: 10%;
    padding-bottom: 15%;
}
.info1{
    /*float: right;*/
    padding-left: 53%;
    display: block;
    float: unset;
    height: 9px;
}
.inf{
    line-height: 9px;
    text-align: left;
    padding-left: 350px;
}
.line1{
    line-height: 0px;
    border-bottom: 5px;
}
.modal-title{
    border-top-right-radius: 8px;
}
.btnPadding1{
    /*float: right;*/
    /*padding-top: -90px;*/
    margin-top: -1px;
    margin-left: 16px;
    padding-left: 0;
    padding-bottom: 14px;
    padding-right: 0px;
    margin-right: 0;
    width: 145px;
    background-color: #3693c1;
    /*background-color: white;*/
    border: none;
    /*color: #3293c3;*/
    /*width: 50%;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}
.btn2{
    border-top-right-radius: 10px;
}
.btn-light{
    padding-top: 0;
    margin-top: 0;
    background-color: white;
    border: none;
    color: #3293c3;
}
h5{
    color: black;
}
.accer{
    padding-top: 20px;
}
.desc{
    color: #3293c3;
    font-size: 11px;
    padding-top: 10px;
    padding-right: 14%;
}





/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 1px solid #3293c3;
    margin-left: 60px;
    margin-top: -8px;

}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;			 /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background: url('../../../img/2.jpg');     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}








/*.checkbox,*/
.radio {
    display: none;
}
/*.checkbox-custom,*/
.radio-custom {
    width: 20px;
    height: 20px;
    border: 1px solid #246d92;
    border-radius: 3px;
    position: relative;
}
/*.checkbox-custom,*/
.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
/*.checkbox:checked + .checkbox-custom::before,*/
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #246d92;
    border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: 50%;
}










