<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <!--<img src="img/1.png" class="rounded float-left">-->
    <span class="nav-item">
      <a class="nav-link active" href="#" title="Home">Home</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="My Quotes"  routerLink="/myQuotes">My Quotes</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="New Quote"   routerLink="/NewQuote">New Quote</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <p style="font-size: 11px; padding-top: 8px; float: right">
        Logged in as <b><i>John Black</i></b> <button type="button" class="btn btn-primary btn-sm">Sign out</button>
      </p>
      <p>
        <i class="fas fa-search"  aria-hidden="true"></i>
        <input class="form-control mr-sm-2" type="search" title="Search"
               placeholder="                                             Search by reference number or model number" aria-label="Search">

      </p>
    </form>
    <!--<div>-->
    <!--<i class="fas fa-search" aria-hidden="true"></i>-->
    <!--<input type="text"  class="form-control mr-sm-2" title="Search" placeholder="Search by reference number or model number" aria-label="Search">-->
    <!--</div>-->
  </div>

  <!--<hr class="my-4">-->
</header>
<body>
<!--<span class="dhbrd">-->
<!--Dashboard-->
<!--</span>-->
<!--<span class="menuUp"></span>-->
<div class="data">
  <p class="name"><b>John Smith (Burger King)</b></p>
  <p class="name">Ref: <b>#02154865</b></p>
  <p class="name">Unit total: <b>$4690</b></p>
</div>
<div style="padding-top: 20px">
  <div class="dashb" routerLink="/pages">
    <div class="dashb1">Dashboard</div>

  </div>
  <div class="kiosk1" routerLink="/selectKiosk">
    <div class="kiosk">Select Kiosk</div>
  </div>
  <div class="comp1" routerLink="/fullKiosk">
    <div class="comp">Select Components</div>
  </div>
  <div class="tabl1">
    <div class="tabl">Select Tablet</div>
  </div>

  <div>
    <h2>Select Tablet</h2>
  </div>
</div>

<div class="supplying">
  <div>Supplying own tablet?
    <span class="answer">Yes <input class="radio" type="radio">&#160;&#160;  No <input class="radio" type="radio"></span>
  </div>
</div>
<div  class="search1">
    <div class="btn-group">
        <button type="button" class="btn btn-dark " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by: <i class="fas fa-angle-down"></i>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item item1" style="color: white">Sort by: <i class="fas fa-angle-up"></i></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Price: High to Low</a>
            <a class="dropdown-item" href="#">Price: Low to High</a>
            <a class="dropdown-item" href="#">Name</a>
            <a class="dropdown-item" href="#">Dimensions</a>
            <a class="dropdown-item" href="#">Storage</a>

        </div>
    </div>
</div>
<!--<form>-->
  <!--<input class="search" type="search" title="Search"-->
         <!--placeholder="Search" aria-label="Search">-->

<!--</form>-->
<div>
    <form style="width: 250px">
        <p>
            <i class="fas fa-search search2"  aria-hidden="true"></i>
            <input class="form-control  inp2" type="search" title="Search..." placeholder="Search..." aria-label="Search">

        </p>
    </form>
</div>


<div class="filter">
  <p class="yourfilters">  &#160;Your Filters: </p>
  <p class="manufacturer">  &#160;Manufacturer</p>
  <ul>

    <div class="manufact"> <p class="manufactur">Acer</p>  <input class="chebox" type="checkbox"></div>
    <div class="manufact"> <p class="manufactur">Apple </p><input class="chebox" type="checkbox" ></div>
    <div class="manufact"><p class="manufactur">Assus </p><input class="chebox" type="checkbox" ></div>
    <div class="manufact"> <p class="manufactur">Aures</p><input class="chebox" type="checkbox"></div>
    <div class="manufact"> <p class="manufactur">Dell </p><input class="chebox" type="checkbox"></div>
    <div class="manufact"><p class="manufactur">Emdoor</p> <input class="chebox" type="checkbox"></div>
    <div class="manufact"> <p class="manufactur">HP</p><input class="chebox" type="checkbox" ></div>
    <div class="manufact"> <p class="manufactur">iDisplay</p> <input class="chebox" type="checkbox"></div>
    <div class="manufact"><p class="manufactur">Linux</p> <input class="chebox" type="checkbox" ></div>
    <div class="manufact"><p class="manufactur">MS Surface</p> <input class="chebox" type="checkbox" ></div>
    <div class="manufact"> <p class="manufactur">Q-Tab </p><input class="chebox" type="checkbox" ></div>
    <div class="manufact"> <p class="manufactur">Samsung</p> <input class="chebox" type="checkbox"></div>
  </ul>
  <p class="manufacturer">  &#160;Operating system</p>
  <ul>
    <div class="manufact"> <p class="manufactur">Windows</p>  <input class="chebox" type="checkbox"></div>
    <div class="manufact"> <p class="manufactur">IOS </p><input class="chebox" type="checkbox" ></div>
    <div class="manufact"><p class="manufactur">Android </p><input class="chebox" type="checkbox" ></div>
  </ul>
</div>