<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <!--<img src="img/1.png" class="rounded float-left">-->
    <span class="nav-item">
      <a class="nav-link active" href="#" title="Home">Dashboard</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="My Quotes"  routerLink="/myQuotes">My Quotes</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="New Quote"   routerLink="/NewQuote">New Quote</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <p style="font-size: 11px; padding-top: 8px; float: right; margin-right: 8px;">
        Logged in as <b><i>John Black</i></b> <button type="button" class="btn btn-primary btn-sm" routerLink="">Sign out</button>
      </p>
      <p>
        <i class="fas fa-search"  aria-hidden="true"></i>
        <input class="form-control mr-sm-2" type="search" title="Search"
               placeholder="                                             Search by reference number or model number" aria-label="Search">

      </p>
    </form>
    <!--<div>-->
    <!--<i class="fas fa-search" aria-hidden="true"></i>-->
    <!--<input type="text"  class="form-control mr-sm-2" title="Search" placeholder="Search by reference number or model number" aria-label="Search">-->
    <!--</div>-->
  </div>

  <!--<hr class="my-4">-->
</header>
<body>
<!--<span class="dhbrd">-->
<!--Dashboard-->
<!--</span>-->
<!--<span class="menuUp"></span>-->
<div class="data">
  <p class="name"><b>John Smith (Burger King)</b></p>
  <p class="name">Ref: <b>#02154865</b></p>
  <p class="name">Unit total: <b>£4690</b></p>
</div>
<div style="padding-top: 20px">
  <div class="dashb" routerLink="/pages">
    <div class="dashb1">Dashboard</div>

  </div>
  <div class="kiosk1" routerLink="/selectKiosk">
    <div class="kiosk">Select Kiosk</div>
  </div>
  <div class="comp1" routerLink="/fullKiosk">
    <div class="comp">Select Components</div>
  </div>
  <div class="tabl1">
    <div class="tabl">Select Tablet</div>
  </div>

  <div>
    <h2>Select Tablet</h2>
  </div>
</div>

<div class="supplying">
  <div>Supplying own tablet?


      <label  (click)="yes()"  style="margin-left: 20px">
          Yes
          <input class="radio" type="radio" name="radio-test">
          <span class="radio-custom"></span>
          <span class="label"></span>
      </label>

      <label  (click)="no()" style="margin-left: 20px">
          No
          <input class="radio" type="radio" name="radio-test">
          <span class="radio-custom"></span>
          <span class="label"></span>
      </label>
  </div>

</div>
<div *ngIf="check==true" style="font-size: 18px">
    Please select your current model from the list below
</div>
<div class="block">
    <div  class="search1">
        <div class="btn-group">
            <button type="button" class="btn btn-dark " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by: <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item item1" style="color: white">Sort by: <i class="fas fa-angle-up"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Price: High to Low</a>
                <a class="dropdown-item" href="#">Price: Low to High</a>
                <a class="dropdown-item" href="#">Name</a>
                <a class="dropdown-item" href="#">Dimensions</a>
                <a class="dropdown-item" href="#">Storage</a>

            </div>
        </div>
    </div>
    <!--<form>-->
    <!--<input class="search" type="search" title="Search"-->
    <!--placeholder="Search" aria-label="Search">-->

    <!--</form>-->
    <div>
        <form style="width: 250px">
            <p>
                <i class="fas fa-search search2"  aria-hidden="true"></i>
                <input class="form-control  inp2" type="search" title="Search..." placeholder="Search..." aria-label="Search">

            </p>
        </form>
    </div>


    <div class="filter">
        <p class="yourfilters">  &#160;Your Filters: </p>
        <p class="manufacturer">  &#160;Manufacturer</p>
        <ul>

            <div class="manufact"> <p class="manufactur">Acer</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">Apple </p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"><p class="manufactur">Assus </p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">Aures</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">Dell </p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"><p class="manufactur">Emdoor</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">HP</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">iDisplay</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"><p class="manufactur">Linux</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"><p class="manufactur">MS Surface</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">Q-Tab </p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">Samsung</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>

        </ul>
        <p class="manufacturer">  &#160;Operating system</p>
        <ul>
            <div class="manufact"> <p class="manufactur">Windows</p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"> <p class="manufactur">IOS </p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
            <div class="manufact"><p class="manufactur">Android </p>
                <label>
                    <input class="checkbox" type="checkbox" name="checkbox-test">
                    <span class="checkbox-custom"></span>
                    <span class="label"></span>
                </label>
            </div>
        </ul>

        <p class="manufacturer">  &#160;Dimensions</p>

        <div class="manufact">
            <div class="slidecontainer">
                <input type="range" multiple  min="8" max="14" value="3,14" class="slider" id="myRange" ngModel="slider" (change)="range($event)"/>
                <input type="range" multiple  min="15" max="20" value="14,25" class="slider" id="myRange2"  (change)="range1($event)" />
                <p> <span id="demo">{{slider}}''</span> <span style="float: right">{{slider1}}''</span></p>
            </div>
            <!--<input type="range" class="custom-range range" min="0" max="9" step="0.5" id="customRange3">-->
        </div>

        <p class="manufacturer">  &#160;Storage size</p>

        <div class="manufact">
            <div class="slidecontainer">
                <input type="range" multiple  min="8" max="60" value="5,60" class="slider" id="myRange1" (change)="range2($event)"/> <input type="range" multiple  min="61" max="128" value="61,130" class="slider" (change)="range3($event)" id="myRange3" />
                <p> <span id="demo1">{{slider2}}GB</span> <span style="float: right">{{slider3}}GB</span></p>
            </div>

        </div>
        <p class="manufacturer">  &#160;Colour</p>

        <div class="manufact">
            <div class="slidecontainer1">
                <span *ngIf="circle11==false"><i class="far fa-circle circle1" id="circle1" (click)="circle1()"></i></span>
                <span *ngIf="circle11==true"><i class="far fa-circle circle1" style="border: 1px solid blue" (click)="circle111()"></i></span>

                <span *ngIf="circle12==false"><i class="far fa-circle circle2" (click)="circle2()"></i></span>
                <span *ngIf="circle12==true"><i class="far fa-circle circle2" style="border: 1px solid blue" (click)="circle21()"></i></span>

                <span  *ngIf="circle13==false"><i class="far fa-circle circle3"  (click)="circle3()"></i></span>
                <span  *ngIf="circle13==true"><i class="far fa-circle circle3"  style="border: 1px solid blue"  (click)="circle31()"></i></span>

                <span  *ngIf="circle14==false"><i class="far fa-circle circle4" (click)="circle4()"></i></span>
                <span  *ngIf="circle14==true"><i class="far fa-circle circle4" style="border: 1px solid blue" (click)="circle41()"></i></span>

                <span  *ngIf="circle15==false"><i class="far fa-circle circle5" (click)="circle5()"></i></span>
                <span  *ngIf="circle15==true"><i class="far fa-circle circle5" style="border: 1px solid blue" (click)="circle51()"></i></span>

                <span  *ngIf="circle16==false"><i class="far fa-circle circle6"  (click)="circle6()"></i></span>
                <span  *ngIf="circle16==true"><i class="far fa-circle circle6" style="border: 1px solid blue" (click)="circle61()"></i></span>
            </div>

        </div>

    </div>

</div>
<table *ngIf="check==false">
    <tr class="head">
        <td class="tablet">Tablet </td>
        <td class="tablet">Info</td>
        <td class="tablet">Price</td>
    </tr>
    <tr>
        <td class="bord">Accer Iconia A200 10'' 8GB</td>
        <td class="bord">
            <i class="info"  data-toggle="modal" data-target="#exampleModalLong">i</i>

            <div class="modal fade" id="exampleModalLong" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!--<div class="modal-header">-->
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                <button type="button" class="btn btn-light btnPadding" (click)="information()">
                                    Information
                                </button>
                                <button type="button" class="btn btn-primary btnPadding1" (click)="specifications()">
                                    Specifications
                                </button>
                            </h5>
                        <div id="card1" *ngIf="specification==true">
                            <h5 class="accer">Accer Iconia A200 10'' 8GB</h5>
                            <img width="240px" height="130px">
                            <p class="desc">Accer Iconia A200 10'' 8GB Tablet</p>
                        </div>
                        <div *ngIf="specification==false">
                            <div class="about">
                                    <p class="line1"><b >Brand:</b>
                                        <span class="info1">Acer</span>
                                    </p>
                                <p class="line1"><b>Weight:</b>
                                    <span class="info1">531 g</span>
                                </p>
                                <p class="line1"><b>
                                    Dimensions:
                                </b>
                                    <span class="info1">16.7 x 0.9 x 25.9 cm</span>
                                </p>
                                <p class="line1"><b>Screen Size:</b>
                                    <span class="info1">25.654 cm</span>
                                </p>
                                <p class="line1"><b>Screen Resulition:</b>
                                    <span class="info1">1920 x 1200</span>
                                </p>
                                <p class="line1"><b>RAM Size</b>
                                    <span class="info1">2 Gb</span>
                                </p>
                                <p class="line1"><b>Hard Drive Size</b>
                                    <span class="info1">8 Gb</span>
                                </p>
                                <p class="line1"><b>Connectivity Type:</b>
                                    <span class="info1">WiFi</span>
                                </p>
                                <p class="line1"><b>Number of USB Ports:</b>
                                    <span class="info1">1</span>
                                </p>
                                <p class="line1"><b>Number of HDMI Ports:</b>
                                    <span class="info1">1</span>
                                </p>
                                <p class="line1"><b>Buttery Life:</b>
                                    <span class="info1">9 Hours</span>
                                </p>


                            </div>
                        </div>

                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

        </td>
        <td class="priceNew bord">£133.00</td>
        <button type="button" class="btn btn-primary add" routerLink="/selectCustomisations">Add</button>
    </tr>
</table>


<table *ngIf="check==true">
    <tr class="head">
        <td class="tablet">Tablet </td>
        <td class="tablet">Info</td>
        <td class="tablet">Price</td>
    </tr>
    <tr>
        <td class="bord">OWNER Acer Iconia A200 10.1'' 8GB</td>
        <td class="bord">
            <i class="info"  data-toggle="modal" data-target="#exampleModalLong">i</i>

            <div class="modal fade" id="exampleModalLong1" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!--<div class="modal-header">-->
                        <h5 class="modal-title" id="exampleModalLongTitle1">
                            <button type="button" class="btn btn-light btnPadding" (click)="information()">
                                Information
                            </button>
                            <button type="button" class="btn btn-primary btnPadding1" (click)="specifications()">
                                Specifications
                            </button>
                        </h5>
                        <div *ngIf="specification==true">
                            <h5 class="accer">OWNER Acer Iconia A200 10.1'' 8GB</h5>
                            <img width="240px" height="130px">
                            <p class="desc">The Acer Iconia One 10 B3-A40 10.1"
                                Tablet lets you maintain a strong and
                                consistent wireless signal with built-in
                                AC WiFi. You can also use Bluetooth
                                technology to connect wirelessly to your
                                other devices, and with two micro USB
                                ports you can also create wired
                                connections to your peripherals

                                Powered by Android 7.0, you can enjoy
                                expanded features and advanced
                                functionality for a complete computing
                                experience on the go.</p>
                        </div>
                        <div *ngIf="specification==false">
                            <div class="about">
                                <p class="line1"><b >Brand:</b>
                                    <span class="info1 inf">Acer</span>
                                </p>
                                <p class="line1"><b>Weight:</b>
                                    <span class="info1">531 g</span>
                                </p>
                                <p class="line1"><b>
                                    Dimensions:
                                </b>
                                    <span class="info1" >16.7 x 0.9 x 25.9 cm</span>
                                </p>
                                <p class="line1"><b>Screen Size:</b>
                                    <span class="info1">25.654 cm</span>
                                </p>
                                <p class="line1"><b>Screen Resulition:</b>
                                    <span class="info1">1920 x 1200</span>
                                </p>
                                <p class="line1"><b>RAM Size</b>
                                    <span class="info1">2 Gb</span>
                                </p>
                                <p class="line1"><b>Hard Drive Size</b>
                                    <span class="info1">8 Gb</span>
                                </p>
                                <p class="line1"><b>Connectivity Type:</b>
                                    <span class="info1">WiFi</span>
                                </p>
                                <p class="line1"><b>Number of USB Ports:</b>
                                    <span class="info1">1</span>
                                </p>
                                <p class="line1"><b>Number of HDMI Ports:</b>
                                    <span class="info1">1</span>
                                </p>
                                <p class="line1"><b>Buttery Life:</b>
                                    <span class="info1">9 Hours</span>
                                </p>


                            </div>
                        </div>

                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

        </td>
        <td class="priceNew1 bord">£133.00</td>
        <button type="button" class="btn btn-primary add" routerLink="/selectCustomisations">Add</button>
    </tr>
</table>

</body>