<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <!--<img src="img/1.png" class="rounded float-left">-->
    <span class="nav-item">
      <a class="nav-link active" href="#" title="Home">Dashboard</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="My Quotes"  routerLink="/myQuotes">My Quotes</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="New Quote"   routerLink="/NewQuote">New Quote</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <p style="font-size: 11px; padding-top: 8px; float: right">
        Logged in as <b><i>John Black</i></b> <button type="button" class="btn btn-primary btn-sm" routerLink="">Sign out</button>
      </p>
      <p>
        <i class="fas fa-search"  aria-hidden="true"></i>
        <input class="form-control mr-sm-2" type="search" title="Search"
               placeholder="                                             Search by reference number or model number" aria-label="Search">

      </p>
    </form>
    <!--<div>-->
    <!--<i class="fas fa-search" aria-hidden="true"></i>-->
    <!--<input type="text"  class="form-control mr-sm-2" title="Search" placeholder="Search by reference number or model number" aria-label="Search">-->
    <!--</div>-->
  </div>

  <!--<hr class="my-4">-->
</header>
<body>
<!--<span class="dhbrd">-->
<!--Dashboard-->
<!--</span>-->
<!--<span class="menuUp"></span>-->
<div class="data">
  <p class="name"><b>John Smith (Burger King)</b></p>
  <p class="name">Ref: <b>#02154865</b></p>
  <p class="name">Unit total: <b>£4690</b></p>
</div>
<div style="padding-top: 20px">
  <div class="dashb" routerLink="/pages">
    <div class="dashb1">Dashboard</div>

  </div>
  <div class="kiosk1">
    <div class="kiosk2">Select Kiosk</div>
  </div>
  <div class="comp1">
    <div class="comp2">Select Components</div>
  </div>

</div>

<div>
  <h2>Select Components</h2>
  <p><span class="oblig">*</span>Selection cannot be left empty</p>
</div>
<div>
  <div class="suggest">
    <div style="text-align: center"><b>Suggested Builds</b></div>
    <div class="card" style="width: 15rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Shell+ 12 Secure Tablet or iPad Kiosk Display Stand with Device Integration & Graphic Panel</h5>
    </div>
  </div>
  </div>

</div>

<div class="kiosk">
  <button type="button" class="btn  btn-primary btn1">New Custom Build</button>


<table>

  <tr class="title">
    <td style="padding-left: 25px">Component</td>
    <td style="padding-left: 25px">Selection</td>
    <td style="padding-left: 25px">Price</td>
  </tr>
  <tr style="background: #e0eff6">
    <td class="body" style="padding-left: 25px">Tablet <span style="color: red">*</span></td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/selectTablet">Choose Tablet</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr style="background: #e0eff6">
    <td class="body" style="padding-left: 25px">Enclosure <span style="color: red">*</span></td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Enclosure</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>

  <tr>
    <td class="body" style="padding-left: 25px">Enclosure Mount</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Mount</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Stand</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Stand</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>

  <tr>
    <td class="body" style="padding-left: 25px">Mini Kiosk</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Base</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Counter Top</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Counter Top</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>


  <tr>
    <td class="body" style="padding-left: 25px">Enclosure Biometric Device</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Enclosure RFID Device</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Enclosure Scanner Device</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
  <td class="body" style="padding-left: 25px">Enclosure Camera Device</td>
  <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
  <td  class="body" style="padding-left: 25px"></td>
</tr>


  <tr>
    <td class="body" style="padding-left: 25px">Enclosure MRS</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Counter Top Payment</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Counter Top Scanner / Camera</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>

  <tr>
    <td class="body" style="padding-left: 25px">Counter Top RFID</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Counter Leg</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Printer</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>

  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Barcode Scanner</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk RFID Reader</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Payment Device</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Biometric Scanner</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Note Accepter</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Coin</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk PSU</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">Kiosk Document / ID Scanner</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>
  <tr>
    <td class="body" style="padding-left: 25px">HUBS</td>
    <td  class="body" style="padding-left: 25px"><button type="button" class="btn btn-primary btn-lg btn-block">Choose Device</button></td>
    <td  class="body" style="padding-left: 25px"></td>
  </tr>


</table>


</div>

</body>

