<header>
  <div class="nav">
    <span class="img" title="imageHolders"></span>
    <!--<img src="img/1.png" class="rounded float-left">-->
    <span class="nav-item">
      <a class="nav-link active" href="#" title="Home">Dashboard</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="My Quotes"  routerLink="/myQuotes">My Quotes</a>
    </span>
    <span class="nav-item">
      <a class="nav-link" href="#" title="New Quote"   routerLink="/NewQuote">New Quote</a>
    </span>
    <form class="form-inline my-2 my-lg-0">
      <p style="font-size: 11px; padding-top: 8px; float: right; margin-right: 8px;">
        Logged in as <b><i>John Black</i></b> <button type="button" class="btn btn-primary btn-sm" routerLink="">Sign out</button>
      </p>
      <p>
        <i class="fas fa-search"  aria-hidden="true"></i>
        <input class="form-control mr-sm-2" type="search" title="Search"
               placeholder="                                             Search by reference number or model number" aria-label="Search">

      </p>
    </form>
    <!--<div>-->
    <!--<i class="fas fa-search" aria-hidden="true"></i>-->
    <!--<input type="text"  class="form-control mr-sm-2" title="Search" placeholder="Search by reference number or model number" aria-label="Search">-->
    <!--</div>-->
  </div>

  <!--<hr class="my-4">-->
</header>
<body>
<!--<span class="dhbrd">-->
  <!--Dashboard-->
<!--</span>-->
<!--<span class="menuUp"></span>-->
<div class="data">
  <p class="name"><b>John Smith (Burger King)</b></p>
  <p class="name">Ref: <b>#02154865</b></p>
  <p class="name">Unit total: <b>£4690</b></p>
</div>
<div style="padding-top: 20px">
  <div class="dashb" routerLink="/pages">
    <div class="dashb1">Dashboard</div>

  </div>
  <div class="kiosk1">
    <div class="kiosk2">Select Kiosk</div>
  </div>

</div>
<div>
  <h2>Select Kiosk</h2>
</div>
<div class="kiosk">


  <div class="card-deck">
    <div class="card" routerLink="/custom">
      <span class="card-img-top custom"  title="Card image cap"></span>
      <!--<img src="../../../img/custom.png">-->
      <div class="card-body">
        <h5 class="card-title">Custom</h5>
        <p class="card-text">Customise your kiosk</p>
      </div>
    </div>
    <div class="card" routerLink="/fullKiosk">
      <span class="card-img-top full"  title="Card image cap"></span>
      <!--<img class="card-img-top" src="../../../img/full.png"  width="95px" height="119" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title"> Full kiosk</h5>
        <p class="card-text">Floor standing modular kiosk for larger devices.</p>
      </div>
    </div>
    <div class="card">
      <span class="card-img-top compact"  title="Card image cap"></span>
      <!--<img class="card-img-top" src="../../../img/compact.png"  width="95px" height="119" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">Compact Kiosk</h5>
        <p class="card-text">Modular kiosk that can hold multiple devices.</p>
      </div>
    </div>
    <div class="card">
      <span class="card-img-top mini"  title="Card image cap"></span>
      <!--<img class="card-img-top" src="../../../img/mini.png"  width="95px" height="119" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">Mini Kiosk</h5>
        <p class="card-text">All-in-one enclosures that can house up to 3 additional devices.</p>
      </div>
    </div>
    <div class="card">
      <span class="card-img-top nano"  title="Card image cap"></span>
      <!--<img class="card-img-top" src="../../../img/nano.png"  width="95px" height="119" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">Nano Kiosk</h5>
        <p class="card-text">Enclosures that can house up to 2 additional small devices.</p>
      </div>
    </div>
    <div class="card">
      <span class="card-img-top enclose"  title="Card image cap"></span>
      <!--<img class="card-img-top" src="../../../img/enclose.png"  width="95px" height="119" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">Enclosure</h5>
        <p class="card-text">Simply the enclosure for your tablet. No extra devices.</p>
      </div>
    </div>


  </div>

</div>
</body>
