/*header*/
header{
    display: inline;
    padding-left: 50px;
}
.form-inline,.mr-sm-2{
    float: right;
}
.nav{
    /*padding-left: 50px;*/
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid lightgray;
}
.my-4{
    width: 80%;

}
.btn-sm{
    background-color: #3194c5;
    margin-left: 15px;
    font-size: 11px;
}
.my-lg-0{
    margin-left: 26%;
}
.img{
    background: url("../../../img/1.png");
    width: 160px;
    height: 39px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.form-inline{
    display: block;
    /*margin-left: 22.7%;*/
    float: right;

}
.nav-item{
    margin-top: 40px;
}
input{
    /*width: 500px;*/
}
.mr-sm-2{
    /*margin-left: 90%;*/
    /*float: right;*/
    height: 25px;
    width: 400px;
    /*margin-top: 42px;*/
    border-radius: 8px;
    font-style: italic;
    /*color: #e0e0e0;*/
    font-size: 11px;
}
input {
    height: 20px;
}
.fa-search::before{
    color: steelblue;

}
.fa-search{
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    /*margin-left: -56px;*/
    position: relative;
    z-index: 1;
    margin-top: 49px;
    margin-bottom: 5px;
    color: #003380;
    float: left;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
}

i.fas .fa-search + input {
    float: right;
    color: #003380;
    padding-left: 46px;
}

/*Kiosk page*/
body{
    margin-left: 10%;
    margin-right: 10%;
}



.menuUp{




    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 10px solid transparent;*/
    /*border-left: 10px solid white;*/
    /*border-bottom: 10px solid transparent;*/
    /*border: 1px solid #3693bc;*/
    /*padding-right: 45px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
   /*padding-left: 45px;*/
    /*border-bottom-left-radius: 8px;*/
    /*-webkit-transform: rotate(-45deg);*/
    /*transform: rotate(-45deg);*/
    /*clip-path: polygon(74% 0, 100% 50%, 74% 100%, 0 100%, 0 0);*/

    /*-webkit-clip-path: polygon(74% 0, 100% 50%, 74% 100%, 0 100%, 0 0);*/
    /*clip-path: polygon(74% 0, 100% 50%, 74% 100%, 0 100%, 0 0);*/
    /*border-bottom: 1px solid  #3693bc;*/

    /*-webkit-clip-path: polygon(50% 0%, 50% 100%, 100% 46%);*/
    /*clip-path: polygon(50% 0%, 50% 100%, 100% 46%);*/
}
.dhbrd{

    border-bottom: 1px solid #3693bc;
    border-left: 1px solid #3693bc;
    border-top:  1px solid #3693bc;
}
h2{
    font-weight: 800;
    color: #266d99;
    padding-top: 5%;
    /*margin-top: 10%;*/
}
.kiosk{
    margin-top: 5%;
}
.card-title{
    color: #3293c3;
    font-size: 18px;
    font-weight: 700;
}
.data{
    float: right;
    display: block;
}
.name{
    text-align: right;
    line-height:6px;
}

.name{
    color: #3693bc;
}

.card{

    width: 100%;
    border: 5px solid #dcdcdc;
    border-radius: 0;
    height: 380px;
}
.card-deck{

    width: 103%;
}



